@inherits NavUpperBase

<div style="display: flex; gap: 10px;">
    <MudText />
    
    <MudSpacer />

    <Notification />

    <MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" Class="mx-4 my-4" Style="border-color: #505050;" />

    <UserMenu OnToggleDarkMode="ToggleDarkMode" />
</div>